*{
    max-width: 100%;
    margin: 0%;
}
.contenedor1{
    width: 100%;
    height: 600px; 
    background: url("../assets/images/banner-bk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    box-sizing: border-box;   
}
.contenedor1 span{
    color: white;
    font-size: 70px;
    font-weight: 900;
}
.texto-1{
    color: white;
    width: 600px;
    text-align: left;
    font-size: 17px;
    margin-left: 150px;
    margin-top: 60px;
}
.boton-1 {
    color: black;
    background-color: aquamarine;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-left: 145px;
    margin-top: 60px;
}
.contenedor1-2{
    display: flex;
    align-items: center; 
}
.contenedor1-2 img { 
    width: 70px;
    margin-left: 150px;
    margin-top: 3%;
}

.contenedor1-2 h3{
    color: white;
    margin-left: 950px;
    margin-top: 3%;
    font-weight: 200;
}